*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #D4D4D4;
    font-family: 'Open sans';
}

.wrap{
    width: 800px;
    max-width: 90%;
    margin:  30px auto;
}

ul.tabs{
    width: 100%;
    background: #363636;
    list-style: none;
    display: flex;
}

ul.tabs li {
    width: 18%;
}

ul.tabs li a{
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    text-align:center;
    display:block;
    padding: 20px 0px;
}

.active{
    background: #0984CC;
}

ul.tabs li a .tab-text{
    margin-left: 8px;
}

.secciones{
    width: 100%;
    background: #FFF;
}

.secciones article{
    padding: 30px;
}

.secciones article p{
    text-align: justify;
    margin: 5px 0;
}

@media screen and (max-width: 700px){
    ul.tabs li {
        width: none;
        flex-basis: 0;
        flex-grow: 1;
    }
}

@media screen and (max-width: 450px){
    ul.tabs li a{
        padding: 15px 0px;
    }

    ul.tabs li a .tab-text{
        display: none;
    }

    .secciones article{
        padding: 20px;
    }
}