*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open sans';
    background: #E8E8E8;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    padding: 20px;
    background: #34495E;
}

header #button-menu{
    font-size: 30px;
    color: #FFF;
    cursor: pointer;
}

.navegacion{
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 100vh;
    background: rgba(0,0,0,.0);
    transition: background 0.2s;
}

.navegacion ul{
    width: 320px;
    height: 100%;
    background: #FFF;
    list-style: none;

    position: absolute;
    top: 0;
    left: -320px;

    transition: left .3s;
}

.navegacion .menu li.title-menu{
    padding: 20px;
    background: #5F6F81;
    color: #FFF;
    text-align: center;
    font-size: 22px;
}

.navegacion .menu a{
    display: block;
    padding: 20px;
    border-bottom: 1px solid #C6D0DA;
    font-size: 22px;
    font-weight: 200;
    text-decoration: none;
    color: #575D69;
}

.navegacion .menu a:hover{
    background: #798DA3;
    color: #FFF;
}

.navegacion .menu li span.icon-menu{
    margin-right: 12px;
}

.navegacion .menu .item-submenu > a::after{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f105';
    right: 0;
    top: 0;
    padding: 14px 25px;

    float: right;
    color: #C5C5C5;
    
}

.navegacion .submenu li.title-menu{
    background: #FFF;
    color: #575D69;
}

.navegacion .submenu li.go-back{
    padding: 10px 20px;
    background: #5F6F81;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
}

.navegacion .submenu li.go-back:before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f0d9';
    color: #abb4be;
    right: 0;
    top: 0;
    padding: 14px 25px;

    margin-right: 10px;
}

@media screen and (max-width: 320px){
    .navegacion ul{
        width: 100%;
    }
}